@*@model Garage3.Core.Member*@
@model MemberDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detaljer</h1>

<div>
    <h4>Medlem</h4>
    <hr />
    <dl class="row">      
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NrOfVehicles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NrOfVehicles)
        </dd>     
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicles)
        </dt>
        <dd class="col-sm-2">
            @foreach (var item in Model.Vehicles)
            {               
                 @Html.DisplayFor(modelItem => item.Brand)
                @*<a asp-controller="Vehicles" asp-action="Details" asp-route-id="@item.Id">@item.Brand</a>  *@                            
                <br/>           
            }         
        </dd>        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Ändra</a> |
    <a asp-action="Index">Tillbaka</a>
</div>
