@model IEnumerable<Garage3.Core.Receipt>

@{
    ViewData["Title"] = "Index";
}

<h1>Alla kvitton</h1>

<p>
    @*<a asp-action="Create">Create New</a>*@
</p>

<form asp-action="SearchReceipt">
    <div class="input-group m-2">
        <input type="text" name="RegNo" class="form-control" placeholder="Sök kvitto på registreringsnummer" />
        <input type="text" name="VehicleType" class="form-control" placeholder="Sök kvitto på fordonstyp" />
        <div class="input-group-append">
            <button type="submit" class="btn btn btn-outline-primary">Sök</button>
            <a asp-action="Index" class="btn btn btn-outline-secondary">Visa hela listan</a>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeEnter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeExit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceTotal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeEnter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeExit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceTotal)
            </td>
           @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
