@*@model Garage3.Core.Receipt
*@
@model Garage3.Core.ReceiptViewModel


@{
    ViewData["Title"] = "Receipt";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["AlertMessage"]
    </div>
}

<h1>Kvitto</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleType.Type)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.FirstName)
            @Html.DisplayFor(model => model.Member.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeEnter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeEnter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeExit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeExit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price) kr/tim
        </dd>        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceTotal) kr
        </dd>
    </dl>
</div>

<div class="my-3">
    <a class="btn btn-outline-primary" onclick="window.print()">Skriv ut sida</a>
</div>

<div>
    <a asp-action="Index" asp-controller="Vehicles">Tillbaka</a>
</div>
